{# empty Twig template #}

{# empty Twig template #}
{%extends "FilmBundle::accueil.html.twig" %}
{% block body %}
<form method="post">
    <a href="{{path('affich_cat_route')}}" ><h1>Liste Categories</h1></a>
  <table>
    <caption><h1 align="center"></h1></caption>
    <thead>
        <tr>
            <td> {{form_label(form.nom)}}</td>
            <td> 
                {{form_widget(form.nom)}}
                {{form_errors(form.nom)}}
            </td>
        </tr>
        
        
    </thead>
</table>
            {{form_rest(form)}}  
            <input type="submit" value="Ajout Categorie"/>
</form>
{% endblock %}