{%extends "FilmBundle::accueil.html.twig" %}


{% block body %}
   
    <h1>Films list</h1>
  <ul>
            <li>
                <a href="{{ path('film_new') }}">Create a new film</a>
            </li>
        </ul>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Acteurs</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
                <tr>
                    <td><a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.id }}</a></td>
                    <td>{{ film.titre }}</td>
                    <td>{{ film.description }}</td>
                    <td>{{ film.categorie.nom }}</td>
                    <td>{% for act in film.acteurs%}
                        <ul>
                            <li>{{act.prenom ~' '~act.nom}} </li>  
                        </ul>  
                    {% endfor%}
                </td>
                <td><img src="{{ asset('uploads/films/'~film.path) }}" /></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('film_show', { 'id': film.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('film_edit', { 'id': film.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            
        </table>
<div >
            {{ knp_pagination_render(films) }}
        </div>
      
        
        {% endblock %}
